* {
	margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
	list-style: none;
	border: none;
	text-decoration: none;
    font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 28px 24px 116px 24px;
}
header img {
    width: 100px;
}
.header-button {
    font-style: normal;
    font-weight: 400;
    font-size: 9.41177px;
    line-height: 13px;
    color: #FF52C1;
    padding: 5px 17px;

    background: #FFFFFF;
    border: 0.588235px solid #FF52C1;
    box-shadow: 0px 0px 5px rgba(255, 82, 193, 0.218778);
    border-radius: 11.7647px;
    width: 80px;
    height: 23.5px;
}
.build {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 0 40px 160px 40px;
}
.build-h1, .ready-h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #00252E;

    min-width: 280px;
}
.build-p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #00252E;

    min-width: 296px;
    margin: 24px 0 48px 0;
}
.build-button, .ready-button {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;

    background: #FF52C1;
    box-shadow: 0px 3px 7px rgba(0, 37, 46, 0.223053);
    border-radius: 20px;

    width: 200px;
    height: 40px;
    margin-bottom: 104px;
}
.build-img {
    width: 100%;
}
.km {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-bottom: 100px;
}
.km1-img, .km2-img {
    width: 40px;
}
.km1-h2, .km2-h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 60.9524px;
    line-height: 91px;
    color: #00252E;
}
.km1-p, .km2-p {
    font-style: normal;
    font-weight: 400;
    font-size: 15.2381px;
    line-height: 23px;
    text-align: center;
    color: #808E9A;
}
.grow {
    display: flex;
    flex-direction: column;
}
.middle, .middlee {
    background: #F6FBFF;
}
.bg1 {
    background-image: url(images/bg-section-top-mobile-1.svg);
    background-size: cover;
    height: 120px;
}
.bg2 {
    background-image: url(images/bg-section-bottom-mobile-2.svg);
    background-size: cover;
    height: 120px;
}
.grow-text, .users-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}
.grow-img {
    width: 280px;
    margin: 74px 44px;
}
.grow-h2, .flowing-h2, .users-h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #00252E;
}
.grow-p, .flowing-p, .users-p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #00252E;

    width: 320px;
    margin-top: 16px;
}
.flowing, .users {
    display: flex;
    flex-direction: column;
}
.flowing {
    margin-bottom: 100px;
    align-items: center;
}
.flowing-img, .users-img {
    width: 265px;
    height: 190px;
    margin: 85px 50px;
}
.bg11 {
    background-image: url(images/bg-section-top-mobile-2.svg);
    background-size: cover;
    height: 120px;
}
.bg22 {
    background-image: url(images/bg-section-bottom-mobile-2.svg);
    background-size: cover;
    height: 120px;
}
.ready {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 100px;
}
footer {
    height: 840px;
}
.footer-bg {
    background-image: url(images/bg-footer-top-mobile.svg);
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: -80px;
}
.footer-1, .footer-2 {
    background: #00252E;
}
.footer-h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;

    padding: 100px 28px 0 28px;
    align-self: self-start;
}
.footer-p {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;

    margin: 16px 28px 32px 28px;
}
.email {
    width: 320px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 6px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #00252E;
}
.submit {
    width: 160px;
    height: 48px;
    background: #FF52C1;
    border-radius: 5px;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    margin-bottom: 100px;
}
.footer-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo-footer {
    width: 200px;
    padding-left: 28px;
    filter: invert(96%) sepia(100%) saturate(2%) hue-rotate(165deg) brightness(107%) contrast(101%);
}
.span-phone, .span-email {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.ph {
    margin-bottom: 16px;
}
.ph, .em {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 28px;
}
.footer-icons {
    display: flex;
    gap: 20px;
    padding: 50px 28px;
}
.tw {
    background: #FFFFFF;
}